@model ProjektLABDetailing.Models.User.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Zmiana Hasła";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <title>Zmiana Hasła</title>
</head>
<body>
    <div class="container">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        <form method="post" asp-action="ChangePassword">
            <div class="CDUInputPasswords">
                <h1>Zmiana Hasła</h1>
                <div class="InputPassword">
                    <input asp-for="CurrentPassword" class="Csspassword" placeholder="Aktualne Hasło" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="InputPassword">
                    <input asp-for="NewPassword" class="Csspassword" placeholder="Nowe Hasło" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="InputPassword">
                    <input asp-for="ConfirmPassword" class="Csspassword" placeholder="Potwierdź Hasło" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="CDUButton">
                    <button type="submit">Zatwierdź</button>
                </div>
                <span asp-validation-summary="All" class="text-danger"></span>
            </div>
        </form>

        @* @if (ViewData.ModelState.ContainsKey("CurrentPassword") && ViewData.ModelState["CurrentPassword"].Errors.Count > 0)
        {
            <div class="alert alert-danger">
                @ViewData.ModelState["CurrentPassword"].Errors[0].ErrorMessage
            </div>
        } *@
    </div>
</body>
