@{
    ViewData["Title"] = "Panel Klienta";
}

<head>
    <title>Klient - panel</title>
</head>

<body>
    <main>
        <div style="text-align: center;">
            <h1>Zalogowałeś się jako Klient!</h1>
        </div>

        <div class="client">
            <a href="OrderHistory">Twoje zamówienia</a>
            <a href="ServiceHistory">Twoje usługi</a>
            <a href="ChangeDataUser">Zmiana danych</a>
        </div>

        <form method="post" asp-action="Logout">
            <button type="submit" class="LogOutBttn">Wyloguj</button>
        </form>
    </main>
</body>
