@{
    ViewData["Title"] = "Panel Klienta";
}

<head>
    <title>Klient - panel</title>
</head>

<body>
    <main>
        <div class="ClientWords">
            <h1>Zalogowałeś się jako Klient!</h1>
        </div>

            <div class="client">
                <div class="ClientOptions1">
                    <a href="OrderHistory">Twoje zamówienia</a>
                </div>

                <div class="ClientOptions2">
                    <a href="ServiceHistory">Twoje usługi</a>
                </div>

                <div class="ClientOptions3">
                    <a href="ChangeDataUser">Zmiana danych</a>
                </div>
            </div>

        <form method="post" asp-action="Logout">
            <button type="submit" class="LogOutBttn">Wyloguj</button>
        </form>
    </main>
</body>
