@*
    
*@
@{
    ViewData["Title"] = "Klient - Historia zamówień";
}

<body>
        <div class="TablesClient">
            <table border="1" class="TableOrderHistory">
            <caption>
                <b>Twoja Historia Zamówień</b>
            </caption>
                <tr>
                    <td><b>Nr. Zamówienia</b></td>
                    <td><b>Data Zamówienia</b></td>
                    <td><b>Status</b></td>
                    <td><b>Adres Wysyłki</b></td>
                    <td><b>Email</b></td>
                    <td><b>Szczegóły</b></td>
                    <td><b>Cena</b></td>
                </tr>
                <tr>
                    <td colspan="7">Brak danych usług</td>
                </tr>
            </table>
        </div>
</body>