@*
    
*@
@{
}

<body>
        <div class="TablesClient">
            <table border="1" class="TableServicesHistory">
                <caption>
                <b>Twoja Historia Usług</b>
                </caption>
                <tr>
                    <td><b>Data Zlecenia</b></td>
                    <td><b>Samochód</b></td>
                    <td><b>Cena</b></td>
                    <td><b>Szczegóły</b></td>
                </tr>
                <tr>
                    <td colspan="4">Brak danych usług</td>
                </tr>
            </table>
        </div>
</body>