

<body>
    <table border="1" class="TableOrderView">
        <tr>
            <td><b>Nr. Zamówienia</b></td>
            <td><b>Status</b></td>
            <td><b>Data zamówienia</b></td>
            <td><b>Email</b></td>
            <td><b>Imię i Nazwisko</b></td>
            <td><b>Szczegóły</b></td>
            <td><b>Cena</b></td>
        </tr>
        <tr>
            <td>Baza</td>
            <td>Baza</td>
            <td>Baza</td>
            <td>Baza</td>
            <td>Baza</td>
            <td>Baza</td>
            <td>Baza</td>
        </tr>
    </table>
    <div class="UpdateViewButton">
        <button class="UpdateView">Aktualizuj Widok</button>
    </div>
</body>